.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 136rem;
  overflow: hidden;
  padding: 20px 10px;
  min-height: 100vh;
}

.game__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.timer__wrapper {
  display: flex;
  justify-content: center;
}

.buttons__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#main {
  background-color: rgb(172, 187, 200);
}
